%%-*- mode: erlang -*-
{erl_opts, [debug_info]}.

{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy.git"}},
  {gun , {git, "https://github.com/ninenines/gun.git"}},
  {ewhois , {git, "https://github.com/saa/ewhois.git"}},
  jiffy
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [ssl_service_erl]}
]}.

{plugins, [
]}.
