[
    {ssl_service_erl, [
            {ssl_labs, [
                {url, "api.ssllabs.com"},
                {port, 443}
            ]}
        ]
    },

    {kernel, [
        {dist_auto_connect, false},
        {error_logger, error}
    ]},
 
    {sasl, [
        {sasl_error_logger, tty},
        {errlog_type, error}
    ]}
].